<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Nintex</title>
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/kendo")
    @Styles.Render("~/Content/css/font-awesome")
    @Styles.Render("~/Content/css/custom")


    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fa fa-plane"></i> Nintex Flight Search</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Nintex - Flight Search Application</p>
        </div>
    </footer>

    <div id="Loader" class="loader-overrely">
        <div class="loader-image"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
